<IfModule mod_rewrite.c>

RewriteEngine on
RewriteBase /REST/
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteRule ^(.*)$ test.php/$1 [NC,QSA,L]
#RewriteRule ^(.*)$ test.php/$1 [NC,QSA,L]

</IfModule>